{% extends "base.html" %}
{% block content %}
    <main class="rcr-wrap">
        <div class="_rcr-signup _rcr-signup-sm">
            <div class="rcr-sgbanner text-center rcr-sgbanner-sm">
                <h3 class="rcr-rchead rcr-rchead-sm ">Rockstone Capital</h3>
            </div>
            <div class="rcr-sgcontainer rcr-sgcontainer-sm">
                <div class="rcr-rcform rcr-rcform-sm">
                    <form method='POST' action='' enctype='multipart/form-data'>
                         {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="form-row form-group">
                            {{ form.username.error_messages }}
                            <div class="col-md-6 col-sm-12">
                                {{ form.username }}
                            </div>
                            {{ form.lastname.error_messages }}
                            <div class=" col-md-6 col-sm-12">
                                {{ form.lastname }}
                            </div>
                        </div>
                        {{ form.email.error_messages }}
                        <div class="form-group">
                            {{ form.email }}
                        </div>
                        {{ form.password.error_messages }}
                        <div class="form-group">
                            {{ form.password }}
                        </div>
                        {{ form.password2.error_messages }}
                        <div class="form-group">
                            {{ form.password2 }}
                        </div>
                        <div class="form-group">
                            <small class=" form-text text-dark"> By creating this account, you are agreeing to our terms and conditions attached</small>
                        </div>


                        <div class="form-row">
                            <div class="offset-md-9 offset-sm-8">
                                <button type="submit" class="btn btn-primary btn-lg">Sign in</button>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>


    </main>
{% endblock %}